
/* *** COMMONS *** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top, #d2dbdb 90%,rgb(63, 148, 136) 90% 10%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;

}

/* *** CONTAINER  *** */
.container, .columnUsers, .columnChat, .notifications, .user, .avatar, .bell, .search, .nameAccessUser, .sent ,.received {
    display: flex;
}

.container{
    width: 70%;
    height: 90%;
    margin: auto;
}

/* *** COLUMN LEFT *** */
.columnUsers{
    width: calc(100% / 3);
    height: 100%;
    flex-direction: column;
}
 
.user, .notifications, .search{
    width: 100%;
}

.user{
    justify-content: space-between;
    align-items: center;
    background-color: #e9ebeb;
}
.avatar, .icons {
    align-items: center;
    padding: 10px;
   
}
.avatar img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.icons{
    min-width: 100px;
}

.icons i{
    padding:5px;
    color: #b1b1b1;
    font-size: 18px;
    cursor: pointer;
}

.contacts{
    height: 80%;
    width: 100%;
}

.notifications{
    max-height: 65px;
    background-color: #8edafc;
    padding: 10px;
    /* overflow: hidden; */
}

.bell{
    min-width: 40px;
    max-height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    
    
}

.bell i{
    color: #8edafc;
}

.titleBell{
    font-size: 14px;
}

.textBell a {
    color: #e9ebeb;
    font-size: 12px;
}

.search{
    min-height: 20px;
    padding: 10px;
    justify-content: center;
    background-color: #e9ebeb;
}
.search i {
    color: #b1b1b1;
    padding: 5px;
}
.search input{
    width: 98%;
    border: #b1b1b1;
    padding-left: 10px;
}

.contacts{
    background-color: white;
    overflow-y: scroll;
    flex-grow: 1;
}

#users:hover{
    transition: 1s;
    background-color: #e9ebeb;
}

.activeUser{
    background-color: #e9ebeb;
}





/* *** COLUMN RIGHT *** */
.columnChat{
    width: calc(100% / 3 * 2);
    height: 100%;
    flex-direction: column;
}


.chatBox{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
}

.sentMessage{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(240, 234, 230);
}

.sentMessage i {
    color: #b1b1b1;
    margin: 0 10px;
    font-size: 18px;
}

.sentMessage input{
    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.nameAccessUser{
    flex-direction: column;
}

.lastAccess{
    font-size: 14px;
    color: #b1b1b1;
}

.sent{
    justify-content: flex-end;
}

.sent > .textMessage{
    background-color: rgb(205, 250, 172);
}

.sent > .textMessage, .received > .textMessage{
    max-width: 50%;
    padding: 8px;
    border-radius: 10px;
    margin: 20px 40px;
    word-wrap: break-word;
}

.received{
    justify-content: flex-start;
}

.received > .textMessage{
    background-color: rgb(255, 255, 255);
}

.date{
    margin-left: 5px;
    font-size: 8px;
    color: #b1b1b1;
}