<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="https://img.icons8.com/cotton/64/000000/whatsapp--v4.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Bollzap</title>
</head>
<body>
    <div id="root" class="container">
        <div class="columnUsers">
            <div class="user">
                <div class="avatar">
                    <img src="img/avatar_io.jpg" alt="User Avatar">
                    <span>Nome Utente</span>
                </div>
                <div class="icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
    
            <div class="notifications">
                <div class="bell">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="textBell">
                    <div class="titleBell">Ricevi notifiche di nuovi messaggi</div>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>
            <div class="search">
                <input type="text" placeholder="Cerca o inizia una nuova chat">
            </div>
            <div class="contacts">
                <div 
                class="avatar" id="users" 
                v-for="(user, index) in contacts" 
                @click="setActiveUsers(index)"
                :class="activeIndex == index ? 'activeUser' : '' "
                >
                    <img :src="getImg(user.avatar)" alt="User Avatar">
                    <span>{{user.name}}</span>
                </div>
            </div>
        </div>
    
    
        <div class="columnChat">
            <div class="user">
                <div class="avatar">
                    <img :src="getImg(contacts[activeIndex].avatar)" alt="User Avatar">
                    <div class="nameAccessUser">
                        <div>{{contacts[activeIndex].name}}</div>
                        <div class="lastAccess">Ultimo accesso oggi alle</div>
                    </div>
    
                </div>
                <div class="icons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
    
            <div class="chatBox">
                <div v-for="message in contacts[activeIndex].messages">
                    <div :class ="message.status == 'sent' ? 'sent' : 'received'">
                        <div class="textMessage">{{message.message}}<span class="date">{{message.date}}</span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="sentMessage">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio" v-model="inputMessage" @keyup.enter="sentNewMessage(activeIndex)">
                <i class="fas fa-microphone"></i>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>